on: [push]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    # Connect to Azure Container registry (ACR)
    - uses: azure/docker-login@v1
      with:
        login-server: docker.pkg.github.com
        username: ds-ms 
        password: ${{ secrets.GITHUB_TOKEN }}
    
    # Container build and push to a Azure Container registry (ACR)
    - run: |
        docker pull go-lang:latest
        docker tag go-lang:latest docker.pkg.github.com/ds-ms/dotnetcore-sample/app2:2.1
        docker push docker.pkg.github.com/ds-ms/dotnetcore-sample/app2:2.1
